@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

@page{
	size:14.8cm 21cm; /* A5 Format https://formaty.info/en/A5/ */
}

@page:left{
  margin:2cm 2cm 2cm 1.5cm;

  @top-center {
    font-size:10pt;
    content: string(heading, first);
  }

  @top-left{
    font-size:10pt;
    content: counter(page);
  }
}

@page:right{
  margin:2cm 1.5cm 2cm 2cm;

  @top-center {
    font-size:10pt;
    content: string(heading, first);
  }

  @top-right{
    font-size:10pt;
    content: counter(page);
  }
}

@page pagewithoutheader{
  @top-center {
    content: "";
  }
  
  @top-left{
    content: "";
  }
  
  @top-right{
    content: "";
  }
}

@page fullscreenimage{
  margin:0;
  background-color:#128458;

  @top-center {
    content: "";
  }
  
  @top-left{
    content: "";
  }
  
  @top-right{
    content: "";
  }
}

body{
	margin:0;
	padding:0;
	font-size:12pt;
  direction: ltr;
  font-family: 'Libre Caslon Text', serif;
}

h1,
h2{
  page-break-before: always;
  break-before: always;
}

h1 + h2{
  page-break-before: avoid;
  break-before: avoid;
}

h1{
  string-set: heading content();
}

.quiz,
.keep-together,
figure.image{
  break-inside: avoid;
  page-break-inside: avoid;
}

img.fullscreen{
  page: fullscreenimage;
  display:block;
  max-width:100%;
  min-width:100%;
}

h2.toc{
  page: pagewithoutheader;
}

ul.toc {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul.toc li ul{
  list-style: none;
}

ul.toc li:after {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
}

ul.toc a{
  color:inherit;
  text-decoration: none;
}

ul.toc a:first-child {
  padding-right: 0.33em;
  background: white
}

ul.toc a + a::after {
  float: right;
  padding-left: 0.33em;
  background: white;
  position: relative;
  z-index: 1;
  content: target-counter(attr(href), page); 
}

.code pre{
  white-space: pre-wrap; 
}

a{
  color:inherit;
  text-decoration:none;
}

a:not([href^="#"])::after {
  float:footnote;
  content: " ("attr(href)")";
  font-style: italic;
  break-inside: avoid;
  page-break-inside: avoid;
}

.note{
  float:footnote;
  font-style: italic;
  break-inside: avoid;
  page-break-inside: avoid;
}

figure{
  width:100%;
  margin:0 auto;
}

figcaption,
caption{
  font-size:10pt;
  text-align: center;
}

h1 {
   font-size: 1.5em;
   margin-top: 10%;
   margin-bottom: 1em;
}

h2 {
   font-size: 1.17em;
   margin-top: 1em;
   margin-bottom: 0.25em;
}

h3 { 
   margin-top: 1em;
   font-size: 1.12em;
   margin-bottom: 0.25em;
}

h4 {
   margin-top: 1em;
   font-size: 1em;
   margin-bottom: 0.25em;
}
/* general text */

p {
  text-indent: 0em;
  margin-top: 0.5em;
}

blockquote { margin-left: 2em; }

span.lineno, code.lineno {
  color: gray;
  font-size: 80%;
}

/* force some space before and after code blocks */
pre {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   font-family: monospace;
}

/* styles for inserted (uil) and deleted (udl) lines */
.udl {
  text-decoration: line-through;
}

.uil {
  font-weight: 900;
}

.err { color: #FF0000 }

/* ============================================================================== */
/* everything below this line is generated by rake book_generator:pygments_styles */
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { color: #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */