@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap');

@page{
	size:4in 6in;
  	margin:1.1811in 0.0787402in 0.393701in 0.0787402in;
  	bleed:.19685in;
  	marks:crop;

    @top-left{
        content: element(runningheader);
        height:100%;
        width:100%;
        background-color:#000;
    }

    @bottom-left{
        content: element(runningfooter);
        height:100%;
        width:100%;
        background-color:#000;
    }
}

body{
	border:0.0393701in solid #000;
  	padding:0;
  	margin:0;
  	height:4.425199in;
	font-family: 'Oswald', sans-serif;
}

ol.total{
	list-style-type:none;
}

ol.total > li{
	border-top:0.019685in solid #000;
}

ol{
	list-style-type:decimal-leading-zero;
}

li{
  	font-size:16pt;
}

li > .details{
  	font-size:12pt;
}

li > b{
	margin:0;
  	padding:0;
}

.running-header{
    position: running(runningheader);
    padding:0.0984252in 0 0.0984252in .19685in;
  	display:flex;
  	justify-content:space-between;
  	align-items:center;
}

.running-header > div > h1{
    color:#fff;
	margin:0;
  	font-size:16pt;
}

.running-header > div > h1 > span{
	margin-left:.19685in;
}

.running-header .qrcode{
  	height:1.1811in;
  	width:1.1811in;
  	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1102' height='1102'%3E%3Cpath fill='%23FFF' d='M0 0h1102v1102H0z'/%3E%3Cpath d='M532 76h38v38h-38zM608 76h38v38h-38zM380 114h38v38h-38zM418 114h38v38h-38zM608 114h38v38h-38zM380 152h38v38h-38zM456 152h38v38h-38zM494 152h38v38h-38zM532 152h38v38h-38zM684 152h38v38h-38zM380 190h38v38h-38zM418 190h38v38h-38zM494 190h38v38h-38zM570 190h38v38h-38zM646 190h38v38h-38zM684 190h38v38h-38zM418 228h38v38h-38zM456 228h38v38h-38zM494 228h38v38h-38zM570 228h38v38h-38zM418 266h38v38h-38zM494 266h38v38h-38zM684 266h38v38h-38zM380 304h38v38h-38zM456 304h38v38h-38zM532 304h38v38h-38zM608 304h38v38h-38zM684 304h38v38h-38zM380 342h38v38h-38zM532 342h38v38h-38zM608 342h38v38h-38zM646 342h38v38h-38zM76 380h38v38H76zM304 380h38v38h-38zM380 380h38v38h-38zM418 380h38v38h-38zM456 380h38v38h-38zM532 380h38v38h-38zM570 380h38v38h-38zM608 380h38v38h-38zM646 380h38v38h-38zM684 380h38v38h-38zM722 380h38v38h-38zM760 380h38v38h-38zM874 380h38v38h-38zM912 380h38v38h-38zM950 380h38v38h-38zM76 418h38v38H76zM114 418h38v38h-38zM228 418h38v38h-38zM418 418h38v38h-38zM456 418h38v38h-38zM646 418h38v38h-38zM722 418h38v38h-38zM798 418h38v38h-38zM836 418h38v38h-38zM874 418h38v38h-38zM912 418h38v38h-38zM950 418h38v38h-38zM76 456h38v38H76zM228 456h38v38h-38zM304 456h38v38h-38zM380 456h38v38h-38zM418 456h38v38h-38zM532 456h38v38h-38zM570 456h38v38h-38zM608 456h38v38h-38zM646 456h38v38h-38zM684 456h38v38h-38zM760 456h38v38h-38zM874 456h38v38h-38zM950 456h38v38h-38zM988 456h38v38h-38zM76 494h38v38H76zM266 494h38v38h-38zM342 494h38v38h-38zM456 494h38v38h-38zM532 494h38v38h-38zM646 494h38v38h-38zM874 494h38v38h-38zM988 494h38v38h-38zM114 532h38v38h-38zM152 532h38v38h-38zM228 532h38v38h-38zM266 532h38v38h-38zM304 532h38v38h-38zM380 532h38v38h-38zM456 532h38v38h-38zM532 532h38v38h-38zM646 532h38v38h-38zM760 532h38v38h-38zM988 532h38v38h-38zM76 570h38v38H76zM114 570h38v38h-38zM152 570h38v38h-38zM342 570h38v38h-38zM380 570h38v38h-38zM456 570h38v38h-38zM646 570h38v38h-38zM684 570h38v38h-38zM798 570h38v38h-38zM950 570h38v38h-38zM76 608h38v38H76zM152 608h38v38h-38zM304 608h38v38h-38zM342 608h38v38h-38zM456 608h38v38h-38zM494 608h38v38h-38zM532 608h38v38h-38zM608 608h38v38h-38zM646 608h38v38h-38zM684 608h38v38h-38zM798 608h38v38h-38zM836 608h38v38h-38zM874 608h38v38h-38zM950 608h38v38h-38zM988 608h38v38h-38zM76 646h38v38H76zM152 646h38v38h-38zM190 646h38v38h-38zM266 646h38v38h-38zM380 646h38v38h-38zM456 646h38v38h-38zM494 646h38v38h-38zM646 646h38v38h-38zM684 646h38v38h-38zM722 646h38v38h-38zM760 646h38v38h-38zM798 646h38v38h-38zM874 646h38v38h-38zM912 646h38v38h-38zM988 646h38v38h-38zM76 684h38v38H76zM304 684h38v38h-38zM380 684h38v38h-38zM494 684h38v38h-38zM646 684h38v38h-38zM684 684h38v38h-38zM722 684h38v38h-38zM760 684h38v38h-38zM798 684h38v38h-38zM836 684h38v38h-38zM912 684h38v38h-38zM380 722h38v38h-38zM456 722h38v38h-38zM532 722h38v38h-38zM570 722h38v38h-38zM684 722h38v38h-38zM836 722h38v38h-38zM418 760h38v38h-38zM494 760h38v38h-38zM684 760h38v38h-38zM760 760h38v38h-38zM836 760h38v38h-38zM988 760h38v38h-38zM418 798h38v38h-38zM456 798h38v38h-38zM532 798h38v38h-38zM570 798h38v38h-38zM646 798h38v38h-38zM684 798h38v38h-38zM836 798h38v38h-38zM950 798h38v38h-38zM988 798h38v38h-38zM418 836h38v38h-38zM456 836h38v38h-38zM532 836h38v38h-38zM608 836h38v38h-38zM646 836h38v38h-38zM684 836h38v38h-38zM722 836h38v38h-38zM760 836h38v38h-38zM798 836h38v38h-38zM836 836h38v38h-38zM912 836h38v38h-38zM950 836h38v38h-38zM988 836h38v38h-38zM418 874h38v38h-38zM456 874h38v38h-38zM608 874h38v38h-38zM684 874h38v38h-38zM722 874h38v38h-38zM760 874h38v38h-38zM950 874h38v38h-38zM988 874h38v38h-38zM418 912h38v38h-38zM494 912h38v38h-38zM532 912h38v38h-38zM874 912h38v38h-38zM912 912h38v38h-38zM988 912h38v38h-38zM418 950h38v38h-38zM494 950h38v38h-38zM608 950h38v38h-38zM646 950h38v38h-38zM684 950h38v38h-38zM722 950h38v38h-38zM798 950h38v38h-38zM836 950h38v38h-38zM988 950h38v38h-38zM380 988h38v38h-38zM418 988h38v38h-38zM570 988h38v38h-38zM608 988h38v38h-38zM684 988h38v38h-38zM722 988h38v38h-38zM874 988h38v38h-38zM988 988h38v38h-38z'/%3E%3Cpath fill='none' d='M115.9 115.9h186.2v186.2H115.9z'/%3E%3Cpath d='M302.1 76H76v266h266V76h-39.9zm0 226.1H115.9V115.9h186.2v186.2z'/%3E%3Cpath fill='none' d='M799.9 115.9h186.2v186.2H799.9z'/%3E%3Cpath d='M986.1 76H760v266h266V76h-39.9zm0 226.1H799.9V115.9h186.2v186.2z'/%3E%3Cpath fill='none' d='M115.9 799.9h186.2v186.2H115.9z'/%3E%3Cpath d='M302.1 760H76v266h266V760h-39.9zm0 226.1H115.9V799.9h186.2v186.2z'/%3E%3Cg%3E%3Cpath d='M152 152h114v114H152z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M836 152h114v114H836z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M152 836h114v114H152z'/%3E%3C/g%3E%3C/svg%3E");
  	background-size:contain;
}

.running-footer{
    position: running(runningfooter);
}

.running-footer h3{
	margin:0;
  	font-size:16pt;
    font-style: italic;
    color:#fff;
    padding:0.0984252in .19685in 0.0984252in .19685in;
}

.oswald{
	font-family: 'Oswald', sans-serif;
}

.pacifico{
  font-family: 'Pacifico', cursive;
}
