  /* Sample Product Data and Image from https://github.com/SAP/openui5/tree/master/src/sap.m/test/sap/m/demokit/cart/webapp/localService/mockdata */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

  body{
    font-family: 'Poppins', sans-serif;
  }

  @page{
    size:210mm 297mm;
    margin:1.5cm 1.5cm 1cm 1.5cm;

    /*
    @top-center{
      content: counter(page);
    }*/
  }

  @page:first{
    margin:5cm 0 1cm 0;
    background:#44b75b;

    @top-center{
      content:element(coverLogo);
    }

    @bottom-right-corner{
      content:"";
      background:#44b75b;
    }
    
    @bottom-right{
      content:"";
      background:#44b75b;
    }
    
    @bottom-center{
    content:"";
    width:100%;
      background:#44b75b;
    }
    
    @bottom-left{
      content:"";
      background:#44b75b;
    }
    
    @bottom-left-corner{
      content:"";
      background:#44b75b;
    }
  }

  @page LastPage{

    margin:0 0 1cm 0;
    padding:0;
    
    @top-center{
      content: "";
    }

    @bottom-right-corner{
      content:"";
      background:#44b75b;
    }
    
    @bottom-right{
      content:"";
      background:#44b75b;
    }
    
    @bottom-center{
      content:"";
      width:100%;
      background:#44b75b;
    }
    
    @bottom-left{
      content:"";
      background:#44b75b;
    }
    
    @bottom-left-corner{
      content:"";
      background:#44b75b;
    }
  }

  @page CenterImage{
    margin:1.5cm 1.5cm 1cm 1.5cm;
    
    
    @top-center{
      content: "";
    }
    
    @bottom-right-corner{
      content:"";
      background:#44b75b;
    }
    
    @bottom-right{
      content:"";
      background:#44b75b;
    }
    
    @bottom-center{
    content:"";
    width:100%;
      background:#44b75b;
    }
    
    @bottom-left{
      content:"";
      background:#44b75b;
    }
    
    @bottom-left-corner{
      content:"";
      background:#44b75b;
    }
  }

  .logo-area{
    position:running(coverLogo);
  }

  .circle{
    width:2cm;
      height:2cm;
      border:.4cm solid #44b75b;
      border-radius:100%;
      display:inline-block;
  }

  
  .logo-area .circle{
    border:.4cm solid white;
  }

  .logo-area h1,
  .last-logo-area h1{
    text-align: left;
    display:inline-block;
      text-transform:uppercase;
      color:#000222;
      width:5cm;
      line-height:1;
      margin-left:0.25cm;
      position:relative;
      top:-.25cm; 
  }

  .cover h1{
      text-transform:uppercase;
      color:white;
    margin:0;
    text-align: center;
  }

  .cover{
    page-break-after:always;
      break-after:always;
  }

  .topics{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width:210mm;
  }

  .topics > div{
    width:52.5mm;
    height:52.5mm;
    text-align: center;
    display:inline-block;
  }

  .topics p{
    font-weight:bold;
    font-size:12pt;
    margin:0;
    padding:0;
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }

  .last{
    page: LastPage;
    page-break-before:always;
    break-before:always;
    display:flex;
    flex-wrap: wrap
  }

  .last img,
  .last > div{
      width:105mm;
      height:14.35cm;
      margin:0;
      display:flex;
      justify-content:center;
      align-items: center;
  }

  .last p{
      margin:2cm;
      color:#000222;
  }

  .last .blue-area{
      background:#000222;
  }

  .page-toc{
    break-before:left;
    page-break-before:left;
  }

  .page-center-image{
    page: CenterImage;
  }

  .page-center-image img{
    max-width:100%;
    max-height:12cm;
    position: relative;
    left:50%;
    transform: translateX(-50%);
  }

  .terms{
    page-break-before: right;
    break-before: right;
  }

  .terms .columns{
    text-align: justify;
    column-count: 3;
    column-gap: .5cm;
    font-size: 8pt;
  }

  .terms .columns p{
    text-align-last: left;
  }

  .terms .columns p:first-of-type{
    margin-top:0;
  }

  .terms h1, .page-center-image h1{
    color:#000222;
      text-transform: capitalize;
      text-align:center;
  }

  .terms h1 .green, .page-center-image h1 .green{
    color:#44b75b;
      display:block;
  }

  .page-center-image .content{
    width:9.25cm;
      padding-right:.5cm;
      background-color:#fff;
      position:absolute;
      left:0;
      top:15.5cm;
      z-index:3;
  }

  .page-center-image .content p:first-of-type{
    margin:0;
  }

  .page-center-image blockquote{
    width:8.75cm;
      margin:0;
    border:.125cm solid #44b75b;
      padding:.5cm;
      background-color:#fff;
      position:absolute;
      right:0;
      top:15.5cm;
      z-index:2;
  }

  .page-center-image .green-border{
    width:8.75cm;
    height:8.75cm;
    border:.125cm solid #44b75b;
      position:absolute;
      left:4.625cm;
      bottom:1cm;
      z-index:1;
  }

  .product{
    break-before:always;
    page-break-before:always;
    padding:0;
    font-family: 'Poppins', sans-serif;
    font-size:10pt;
    color:#000222;
  }

  .product ul{
    margin:0;
    padding:0;
    list-style:inside;
  }
  .product .images{
    text-align:center;
  }

  .product .images img{
    max-width: 100%;
  }

  .product .infos .technical{
    width:49%;
    float:left;
  }

  .product .infos .packaging{
    width:49%;
    float:right;
  }

  .product .infos table{
    border-collapse: collapse;
  }

  .product .infos table td,.infos table th{
    vertical-align: top;
    text-align: left;
    padding:8px 16px;
    border:0;
    margin:0;
  }

  .product .infos table th{
    background-color:lightgray;
    color:#000222;
  }

  .product .price{
    text-align: right;
    font-weight:900;
    font-size:64px;
    position: absolute;
    bottom: 1cm;
    right: 1cm;
  }

  ul.toc {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    }
    
    ul.toc li ul{
    list-style: none;
    }
    
    ul.toc li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    }
    
    ul.toc a{
    color:inherit;
    text-decoration: none;
    }
    
    ul.toc a:first-child {
    padding-right: 0.33em;
    background: white
    }
    
    ul.toc a::after {
    float: right;
    padding-left: 0.33em;
    background: white;
    position: relative;
    z-index: 1;
    content: target-counter(attr(href), page); 
    }

    .toc-content h2{
      background:#000222;
      color:white;
      font-size:12pt;
      padding:.75mm .75mm .75mm 1.5mm;
    }

    .topics > div.AC, .color-page-AC , .category-AC > h1 > span, .category-AC > .price > span, .intro-AC .green, .intro-AC::after, .category-AC::after, .toc-content h2.AC{ color:white !important;background:#00B8FE;}
    .topics > div.DC, .color-page-DC , .category-DC > h1 > span, .category-DC > .price > span, .intro-DC .green, .intro-DC::after, .category-DC::after, .toc-content h2.DC{ color:white !important;background:#DD7EE5;}
    .topics > div.FS, .color-page-FS , .category-FS > h1 > span, .category-FS > .price > span, .intro-FS .green, .intro-FS::after, .category-FS::after, .toc-content h2.FS{ color:white !important;background:#F28444;}
    .topics > div.KB, .color-page-KB , .category-KB > h1 > span, .category-KB > .price > span, .intro-KB .green, .intro-KB::after, .category-KB::after, .toc-content h2.KB{ color:white !important;background:#00BC94;}
    .topics > div.LT, .color-page-LT , .category-LT > h1 > span, .category-LT > .price > span, .intro-LT .green, .intro-LT::after, .category-LT::after, .toc-content h2.LT{ color:white !important;background:#8E97FF;}
    .topics > div.PR, .color-page-PR , .category-PR > h1 > span, .category-PR > .price > span, .intro-PR .green, .intro-PR::after, .category-PR::after, .toc-content h2.PR{ color:black !important;background:#FFF68E;}
    .topics > div.ST, .color-page-ST , .category-ST > h1 > span, .category-ST > .price > span, .intro-ST .green, .intro-ST::after, .category-ST::after, .toc-content h2.ST{ color:white !important;background:#FF8E97;}
    .topics > div.MI, .color-page-MI , .category-MI > h1 > span, .category-MI > .price > span, .intro-MI .green, .intro-MI::after, .category-MI::after, .toc-content h2.MI{ color:white !important;background:#E2A262;}
    .topics > div.CSA, .color-page-CSA , .category-CSA > h1 > span, .category-CSA > .price > span, .intro-CSA .green, .intro-CSA::after, .category-CSA::after, .toc-content h2.CSA{ color:white !important;background:#C2A0F1;}
    .topics > div.GC, .color-page-GC , .category-GC > h1 > span, .category-GC > .price > span, .intro-GC .green, .intro-GC::after, .category-GC::after, .toc-content h2.GC{ color:black !important;background:#CFF1A0;}
    .topics > div.SC, .color-page-SC , .category-SC > h1 > span, .category-SC > .price > span, .intro-SC .green, .intro-SC::after, .category-SC::after, .toc-content h2.SC{ color:white !important;background:#ED2E32;}
    .topics > div.SP, .color-page-SP , .category-SP > h1 > span, .category-SP > .price > span, .intro-SP .green, .intro-SP::after, .category-SP::after, .toc-content h2.SP{ color:white !important;background:#883E46;}
    .topics > div.SW, .color-page-SW , .category-SW > h1 > span, .category-SW > .price > span, .intro-SW .green, .intro-SW::after, .category-SW::after, .toc-content h2.SW{ color:white !important;background:#917178;}
    .topics > div.TC, .color-page-TC , .category-TC > h1 > span, .category-TC > .price > span, .intro-TC .green, .intro-TC::after, .category-TC::after, .toc-content h2.TC{ color:white !important;background:#159A6B;}
    .topics > div.SV, .color-page-SV , .category-SV > h1 > span, .category-SV > .price > span, .intro-SV .green, .intro-SV::after, .category-SV::after, .toc-content h2.SV{ color:white !important;background:#656CDA;}
    .topics > div.FST, .color-page-FST , .category-FST > h1 > span, .category-FST > .price > span, .intro-FST .green, .intro-FST::after, .category-FST::after, .toc-content h2.FST{ color:white !important;background:#5565B0;}

    .intro-AC blockquote, .intro-AC .green-border{ border-color:#00B8FE;}
    .intro-DC blockquote, .intro-DC .green-border{ border-color:#DD7EE5;}
    .intro-FS blockquote, .intro-FS .green-border{ border-color:#F28444;}
    .intro-KB blockquote, .intro-KB .green-border{ border-color:#00BC94;}
    .intro-LT blockquote, .intro-LT .green-border{ border-color:#8E97FF;}
    .intro-PR blockquote, .intro-PR .green-border{ border-color:#FFF68E;}
    .intro-ST blockquote, .intro-ST .green-border{ border-color:#FF8E97;}
    .intro-MI blockquote, .intro-MI .green-border{ border-color:#E2A262;}
    .intro-CSA blockquote, .intro-CSA .green-border{ border-color:#C2A0F1;}
    .intro-GC blockquote, .intro-GC .green-border{ border-color:#CFF1A0;}
    .intro-SC blockquote, .intro-SC .green-border{ border-color:#ED2E32;}
    .intro-SP blockquote, .intro-SP .green-border{ border-color:#883E46;}
    .intro-SW blockquote, .intro-SW .green-border{ border-color:#917178;}
    .intro-TC blockquote, .intro-TC .green-border{ border-color:#159A6B;}
    .intro-SV blockquote, .intro-SV .green-border{ border-color:#656CDA;}
    .intro-FST blockquote, .intro-FST .green-border { border-color:#5565B0;}

    .color-page{
      page-break-before: left;
      break-before: left;
      position: absolute;
      left:-1.5cm;
      top:-1.5cm;
      right:-1.5cm;
      bottom:-1cm;
      content:"";
      display: block;
    }

    .intro{
      page-break-before: right;
      break-before: right;
    }

    .product > h1 > span, .product > .price > span, .intro h1 .green { display:inline-block;padding:.75mm .75mm .75mm 1.5mm;}

    .intro::after, .product::after{
      position: absolute;
      left:-1.5cm;
      bottom:-1cm;
      height:1cm;
      width:210mm;
      line-height:1cm;
      text-align:center;
      font-size:12pt;
      font-weight: bold;
      display:block;
      content:"";
    }

    .color-page::after{
      position: relative;
      top:50%;
      left:50%;
      display:inline-block;
      transform: translateX(-50%) translateY(-50%);
      font-size:36pt;
      font-weight: bold;
    }
    .color-page-green{
      background-color: #44b75b;
    }
    .color-page-white{
      background-color: white;
    }
    .color-page-AC::after, .category-AC::after{ content:"Accessories"; }
    .color-page-DC::after, .category-DC::after{ content:"Desktop Computers"; }
    .color-page-FS::after, .category-FS::after{ content:"Flat Screens"; }
    .color-page-KB::after, .category-KB::after{ content:"Keyboards"; }
    .color-page-LT::after, .category-LT::after{ content:"Laptops"; }
    .color-page-PR::after, .category-PR::after{ content:"Printers"; }
    .color-page-ST::after, .category-ST::after{ content:"Smartphones and Tablets"; }
    .color-page-MI::after, .category-MI::after{ content:"Mice"; }
    .color-page-CSA::after, .category-CSA::after{ content:"Computer System Accessories"; }
    .color-page-GC::after, .category-GC::after{ content:"Graphics Card"; }
    .color-page-SC::after, .category-SC::after{ content:"Scanners"; }
    .color-page-SP::after, .category-SP::after{ content:"Speakers"; }
    .color-page-SW::after, .category-SW::after{ content:"Software"; }
    .color-page-TC::after, .category-TC::after{ content:"Telecommunication"; }
    .color-page-SV::after, .category-SV::after{ content:"Servers"; }
    .color-page-FST::after, .category-FST::after{ content:"Flat Screen TVs"; }

    .keep-together{
      page-break-inside: avoid;
      break-inside: avoid;
    }